article {
  margin-top: 2em;
  padding-bottom: 1em;

  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  .metadata {
    font-size: 0.9em;
    padding: 0;
    margin: 1em 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1px;
    opacity: 0.5;

    li {
      margin-right: 3em;
    }

    img {
      width: 16px;
    }
  }

  .body {
    background-color: white;

    p {
      font-size: 1.25em;
      line-height: 1.75em;
      padding: 1.75em;
      font-weight: 300;
    }
  }
}
