.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

article {
  margin-top: 2em;
  padding-bottom: 3em;

  h1 {
    font-size: 2em;
    font-weight: 700;
    a {
      color: black;
    }
  }

  h2 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 1.5em;
  }

  .metadata {
    font-size: 0.9em;
    padding: 0;
    margin: 1em 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1px;
    opacity: 0.5;

    a {
      color: black;
    }

    li {
      margin-right: 3em;
    }

    img {
      width: 16px;
    }
  }

  .article-content {
    background-color: white;
    padding: 2em 3em;

    .article-image img {
      max-width: 62%;
      border: 5px solid white;
      outline: 1px solid #CCC;
      float: right;
      margin: 0 0 3em 3em;
    }

    p {
      margin-bottom: 1em;
      font-size: 1.5em;
      line-height: 1.75em;
    }
  }
}
