$logo-color: white;
$off-red: #F03535;

.logomark {
  width: 80px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 0.5em;

  svg {
    height: 32px;
    transition: all 0.4s;
    width: auto;
  }

  path, rect {
    fill: $logo-color;
    transition: all 0.4s;
  }

  &:hover, &.red {
    path, rect {
      fill: $off-red;
    }
  }

  .vi {
    margin-right: 3px;
    svg {
      max-width: 32px;
    }

    &.pump {
      svg {
	margin-left: 7px;
	height: 24px;
	path, rect {
	  fill: crimson;
	}
      }
    }
  }

  .heart {
    svg {
      max-width: 32px;
    }
    &.pump {
      svg {
	height: 48px;
	max-width: 48px;
	path, rect {
	  fill: darkred;
	}
      }
    }
  }
}