$lime-green: #14C123;
$off-red: #F03535;

aside {
  margin-top: 100px;
  text-align: center;

  a {
    color: $lime-green;
    &:hover {
      color: $lime-green;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .portrait {
    width: 96px;
    border-radius: 64px;
  }

  .social-links {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
    height: 32px;

    svg {
      height: 24px;
    }

    li {
      width: 48px;
      a {
	svg { transition: all 0.25s; }
	&:hover, &.hoverEffect {
	  svg { 
	    height: 32px;
	  }
	}
      }
    }
  }

  .twitter {
    a:hover svg, a.hoverEffect svg { fill: #4099FF; }
  }
  .linkedin {
    a:hover svg, a.hoverEffect svg { fill: #007BB6; }
  }
  .github {
    a:hover svg, a.hoverEffect svg { fill: gray; }
  }
  .email {
    a:hover svg, a.hoverEffect svg { fill: orange; }
  }

  .title {
    margin-top: 4em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    &:after {
      display: block;
      content: "";
      width: 30%;
      margin: 0.5em auto;
      border-bottom: 2px solid $lime-green;
    }
  }

  p {
    margin: 1em 0 0 0;
    line-height: 1.75em;
  }

  .recent-posts li {
    margin-bottom: 1em;
    .timestamp {
      font-weight: bold;
    }
  }

  
  

}
