//= require "bootstrap/dist/css/bootstrap.min.css"
//= require "fontawesome/css/font-awesome.min.css"

$background-color: #F7F877;
$logo-color: black;
$text-color: black;
$off-red: #F03535;
$lime-green: #14C123;

body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: $background-color;
}

a {
  color: $off-red;
  text-decoration: underline;
  transition: color 0.125s;
  &:hover {
    color: $lime-green;
  }
}

.homepage {
  display: flex;

  .lesser-column {
    width: 38%;
    padding: 1em;
    text-align: center;
    a {
      color: $text-color;
      &:hover {
	color: $off-red;
	transition: color 0.125s;
      }
    }
  }

  .greater-column {
    width: 62%;
    padding: 1em;
    
    p {
      font-size: 2em;
      letter-spacing: 1px;
      line-height: 1.5em;
      margin-top: 1em;
    }
  }

  .nav-links, .social-links {
    list-style: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.75em;
    line-height: 1.75em;
    a {
      text-decoration: none;
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0.25em;
    }
  }


  .portrait {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 424px;

    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}

.logomark {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 200px;

  svg {
    height: 100px;
    transition: all 0.4s;
  }

  path, rect {
    fill: $logo-color;
    transition: all 0.4s;
  }

  &:hover {
    path, rect {
      fill: red;
    }
  }

  .vi {
    svg {
      width: 85px;
    }

    &.pump {
      svg {
	width: 70px;
	path, rect {
	  fill: lightred;
	}
      }
    }
  }

  .heart {
    svg {
      width: 120px;
    }

    &.pump {
      svg {
	height: 125px;
	width: 155px;
      }
      path, rect {
	fill: darkred;
      }
    }
  }
}
