body {
  font-family: 'Alegreya Sans', sans-serif;
}

header {
  min-height: 200px;

  .logomark {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 200px;

    svg {
      height: 100px;
      transition: all 0.4s;
    }

    path, rect {
      fill: black;
      transition: all 0.4s;
    }

    &:hover {
      path, rect {
	fill: red;
      }
    }

    .vi {
      svg {
	width: 85px;
      }

      &.pump {
	svg {
	  width: 50px;
	  path, rect {
	    fill: lightred;
	  }
	}
      }
    }

    .heart {
      svg {
	width: 120px;
      }

      &.pump {
	svg {
	  height: 135px;
	  width: 165px;
	}
	path, rect {
	    fill: darkred;
	}
      }
    }
  }
}