//= require "bootstrap/dist/css/bootstrap.min"
//= require "_sidebar"
//= require "_article"

$mint-green: #E1F3E5;
$background-color: #FFFFC0;
$text-color: black;
$off-red: #F03535;
$lime-green: #14C123;
$logo-color: black;

body {
  background-color: $mint-green;
  font-family: 'Catamaran', sans-serif;
  margin-top: 6em;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: black;

  .logomark {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 32px;
      width: auto;
      g {
	fill: white;
      }
    }

    .vi, .heart {
      display: inline-block;
    }

    .vi {
      margin-right: 3px;
    }
    .heart {
    }
  }

  a {
    color: white;
  }

  .top {
    height: 64px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;

    &> li {
      padding: 0 3em 0 0;
      text-transform: uppercase;
    }
  }

  .social-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin-right: 1em;
    }

    .twitter {
      a:hover svg, a.hoverEffect svg { fill: #4099FF; }
    }
    .linkedin {
      a:hover svg, a.hoverEffect svg { fill: #007BB6; }
    }
    .github {
      a:hover svg, a.hoverEffect svg { fill: gray; }
    }
    .email {
      a:hover svg, a.hoverEffect svg { fill: $lime-green; }
    }

    svg {
      fill: white;
      height: 20px;
    }
  }
}


.colors {
  display: flex;
  .color-1, .color-2, .color-3 {
    height: 4px;
    width: 100%;
  }
  .color-1 {
    background-color: $lime-green;
  }
  .color-2 {
    background-color: black;
  }
  .color-3 {
    background-color: $off-red;
  }
}
