.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
    font-family: "Georgia", "Times New Roman", "Serif";
    font-size: 9pt;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.container {
    width: 720px;
    margin: 0 auto;
}

/*--- American Headline */

.headline {
    border-bottom: 1px solid #000;
    padding-bottom: 1em;
    position: relative;
    height: 5em;
    h1 {
	font-size: 5em;
	letter-spacing: -2px;
	line-height: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
    }

    .contact-info {
	position: absolute;
	bottom: 0.25em;
	right: 0;
	padding: 0;
	margin: 0;
	line-height: 1.25em;
    }
}

/*--- European Headline */

.personal-information {
    position: relative;

    h1 {
	font-size: 2.5em;
	line-height: 0;
	padding: 0.75em 0 0.25em 0;
    }

    .portrait {
	position: absolute;
	right: 0;
	top: 0;
    }
}

h1, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0;
}

.level-1 {
    margin-left: 1em;
}

.level-1 li {
    margin-top: 0.5em;
}

.level-2 {
    margin-left: 2em;
}

.details {
    float: left;
}

.field {
  margin-top: 0.35em;
  font-weight: bold;
}

.secondary {
    width: 500px;
}

ul.bullets li {
    list-style-type: square;
    margin: 0 0 0 2em;
}

.metadata {
    float: right;
    text-align: right;
    font-size: 0.9em;
    line-height: 1.25em;
}