/* line 7, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
body {
  font-family: 'Catamaran', sans-serif;
  background-color: #E1F3E5;
  transition: all 0.5s;
  margin: 0; }

/* line 14, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
a {
  color: #F03535;
  text-decoration: underline; }
  /* line 17, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  a:hover {
    color: #14C123; }

/* line 22, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.homepage {
  display: -webkit-flex;
  display: flex; }

/* line 27, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
#personal-page-link {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 1em;
  background-color: white; }

/* line 37, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.lesser-column {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1em;
  margin-left: 3em; }
  /* line 43, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .lesser-column a {
    color: black;
    transition: background-color 0.125s; }
    /* line 46, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .lesser-column a:hover {
      color: #F03535; }

/* line 52, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.greater-column {
  margin: 0 75px 0 400px;
  padding: 0 1em 1em 1em; }
  /* line 56, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .greater-column p, .greater-column ul {
    font-weight: 100;
    font-size: 1.75em;
    line-height: 1.75em;
    margin-top: 1em; }
    /* line 61, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .greater-column p a, .greater-column ul a {
      font-weight: 400;
      text-decoration: none; }
  /* line 66, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .greater-column ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 72, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .greater-column p.attributions {
    font-size: 10pt;
    opacity: 0.5; }

/* line 78, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.nav-links, .social-links {
  margin: 0 0 0 0.25em;
  padding: 0;
  list-style: none;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.75em;
  letter-spacing: -1px; }
  /* line 86, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .nav-links a, .social-links a {
    text-decoration: none; }
  /* line 89, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .nav-links svg, .social-links svg {
    height: 32px; }

/* line 94, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.nav-links {
  margin-bottom: 0.25em; }
  /* line 96, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .nav-links a {
    display: inline-block;
    padding: 0.15em 0.4em;
    margin: 0.1em;
    transition: all 0.25s; }
    /* line 101, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .nav-links a:hover {
      color: #14C123;
      border-radius: 5px; }

/* line 108, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.social-links {
  display: -webkit-flex;
  display: flex; }
  /* line 111, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links li {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    margin-right: 0.25em;
    width: 2em;
    height: 2em; }
    /* line 123, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .social-links li a svg {
      transition: all 0.25s; }
    /* line 125, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .social-links li a:hover svg, .social-links li a.hoverEffect svg {
      height: 48px; }
  /* line 132, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links .twitter a:hover svg, .social-links .twitter a.hoverEffect svg {
    fill: #4099FF; }
  /* line 135, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links .linkedin a:hover svg, .social-links .linkedin a.hoverEffect svg {
    fill: #007BB6; }
  /* line 138, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links .github a:hover svg, .social-links .github a.hoverEffect svg {
    fill: gray; }
  /* line 141, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links .email a:hover svg, .social-links .email a.hoverEffect svg {
    fill: #14C123; }

/* line 145, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.portrait {
  position: fixed;
  bottom: 0;
  left: -150px;
  height: 200px;
  pointer-events: none; }
  /* line 152, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .portrait svg {
    height: 200px;
    position: absolute;
    left: 0;
    top: 0; }

/* line 161, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
.logomark {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-decoration: none;
  padding-left: 0.5em;
  transition: all 0.4s;
  cursor: pointer; }
  /* line 171, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark svg {
    height: 130px;
    transition: all 0.4s; }
  /* line 176, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark g {
    fill: black;
    transition: all 0.4s; }
  /* line 182, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark:hover g, .logomark.red g {
    fill: #F03535;
    transition: all 0.4s; }
  /* line 189, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark .vi svg {
    width: 90px;
    margin-right: 9px; }
  /* line 195, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark .vi.pump svg {
    width: 60px;
    margin-left: 30px; }
    /* line 198, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    .logomark .vi.pump svg g {
      fill: crimson; }
  /* line 206, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark .heart svg {
    width: 121px; }
  /* line 211, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark .heart.pump svg {
    width: 145px; }
  /* line 214, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark .heart.pump g {
    fill: darkred; }

@media screen and (max-device-width: 768px), screen and (min-device-width: 768px) and (max-width: 768px) {
  /* line 225, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  #personal-page-link {
    position: relative;
    width: 100%;
    text-align: center; }

  /* line 231, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .homepage {
    display: block; }

  /* line 235, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .lesser-column {
    margin-left: 0;
    position: relative;
    text-align: center; }

  /* line 241, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .greater-column {
    margin: 1em;
    text-align: center; }

  /* line 246, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .portrait {
    position: relative; }

  /* line 250, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .nav-links {
    padding: 0;
    margin: 0; }

  /* line 255, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .social-links {
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0; }

  /* line 261, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  .logomark {
    margin: 0 auto;
    padding-left: 0;
    justify-content: center;
    -webkit-justify-content: center; }

  /* line 268, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
  a.view-all {
    display: inline-block;
    border: 2px solid #F03535;
    padding: 0.25em 1em;
    margin-top: 1em; }
    /* line 273, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/all.scss */
    a.view-all:hover {
      background-color: #F03535;
      color: white;
      text-decoration: none; } }
