/* line 1, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* line 9, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
body {
  font-family: "Georgia", "Times New Roman", "Serif";
  font-size: 9pt;
  line-height: 1.5em;
  margin-bottom: 1em; }

/* line 16, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.container {
  width: 720px;
  margin: 0 auto; }

/*--- American Headline */
/* line 23, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.headline {
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
  position: relative;
  height: 5em; }
  /* line 28, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
  .headline h1 {
    font-size: 5em;
    letter-spacing: -2px;
    line-height: 1em;
    position: absolute;
    bottom: 0;
    left: 0; }
  /* line 37, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
  .headline .contact-info {
    position: absolute;
    bottom: 0.25em;
    right: 0;
    padding: 0;
    margin: 0;
    line-height: 1.25em; }

/*--- European Headline */
/* line 49, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.personal-information {
  position: relative; }
  /* line 52, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
  .personal-information h1 {
    font-size: 2.5em;
    line-height: 0;
    padding: 0.75em 0 0.25em 0; }
  /* line 58, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
  .personal-information .portrait {
    position: absolute;
    right: 0;
    top: 0; }

/* line 65, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
h1, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 71, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
h2 {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: bold; }

/* line 77, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.25em;
  margin-bottom: 0; }

/* line 84, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.level-1 {
  margin-left: 1em; }

/* line 88, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.level-1 li {
  margin-top: 0.5em; }

/* line 92, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.level-2 {
  margin-left: 2em; }

/* line 96, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.details {
  float: left; }

/* line 100, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.field {
  margin-top: 0.35em;
  font-weight: bold; }

/* line 105, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.secondary {
  width: 500px; }

/* line 109, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
ul.bullets li {
  list-style-type: square;
  margin: 0 0 0 2em; }

/* line 114, /Users/paulschun/Work/Personal/sixofhearts.us/source/stylesheets/resume.scss */
.metadata {
  float: right;
  text-align: right;
  font-size: 0.9em;
  line-height: 1.25em; }
