Calendar, user, speech bubble icons from
= succeed ',' do
  %a(href="http://www.freepik.com" title="Freepik") Freepik
LinkedIn, GitHub, Envelope icons from
= succeed ',' do
  %a(href="http://www.danielbruce.se" title="Daniel Bruce") Daniel Bruce
Twitter icon from
%a(href="http://www.elegantthemes.com" title="Elegant Themes")
  Elegant Themes
by way of
%a(href="http://www.flaticon.com" title="Flaticon") Flaticon
are all licensed under
%a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0

