= link_to "Looking For My Non-Professional Stuff? That's Here &rarr;", 'http://paul-s-chun.sixofhearts.us/'

%p Hello. My name is Paul S. Chun, but I go by sixofhearts on most things Internet. [Why?]

%p I'm currently the CTO at [Rivalfox]. I previously coded at [Heyzap] and in various consulting jobs.

%p I'm interested in building teams of mindful people that collaborate on creating elegant user experiences, clean code and high-functioning architectures.

