.employment
  %h2 Employment
  %ul.level-1
    %li.clearfix
      %h3 Rivalfox
      .details.level-2
        .field CTO, Co-Founder
        .secondary
          %ul.bullets
            %li Responsible for product strategy, management and development.
      .metadata
        Berlin, Germany
        %br/
        April 2013 - present
    %li.clearfix
      %h3 Heyzap
      .details.level-2
        .field Software Engineer
        .secondary
          %ul.bullets
            %li Planned architecture and integration of new projects.
            %li Created high-performance, RESTful APIs.
            %li Consulted with partner companies and assisted clients with integrations.
            %li Joined as the second full-time hire after company received seed funding.
      .metadata
        San Francisco, California
        %br/
        August 2009 - July 2011
    %li.clearfix
      %h3 Autodesk
      .details.level-2
        .field Software Engineering Intern
        .secondary Created an in-house project promoting innovation using Ruby on Rails.
      .metadata
        San Rafael, California
        %br/
        May 2007 - August 2007
.education
  %h2 Education
  %ul.level-1
    %li.clearfix
      %h3 University of Oregon
      .details.level-2
        .field Master of Business Administration
        .secondary Specialization in Entrepreneurship
      .metadata
        Eugene, Oregon
        %br/
        September 2011 - March 2013
    %li.clearfix
      %h3 Purdue University
      .details.level-2
        .field Bachelor of Science, Mathematics
        .secondary Minor in Computer Science
      .metadata
        West Lafayette, Indiana
        %br/
        August 2004 - May 2008
    %li.clearfix
      %h3 Seoul National University
      .details.level-2
        .field Korean Language Certification
        .secondary Certifications for levels one and two
      .metadata
        Seoul, South Korea
        %br/
        November 2008 - May 2009
.skills
  %h2 Skills
  .level-1
    %h3 Technical Skills
    .level-2
      .field Project Management Experience
      Scrum, Kanban
      .field Preferred Technologies
      %p Ruby, Ruby on Rails, Sinatra, Javascript, HTML, CSS, Mac OS X, openSUSE Linux, HAML
      .field Other Technologies
      PHP, C/C++, Java, LaTeX, Windows XP/Vista/7, Adobe Photoshop, Adobe Fireworks, Microsoft Office, Objective C, ASP, ASP.NET, ColdFusion, GIMP, MongoDB, MySQL, PostgreSQL, SQL
      .field Spoken Languages
      English (native), Korean (moderate), Chinese (moderate)
