%ul.social-links
  %li.twitter
    %a(href="https://www.twitter.com/sixofhearts" target="_blank")
      %i.fa.fa-twitter-square
  %li.linkedin
    %a(href="https://www.linkedin.com/in/paulschun" target="_blank")
      %i.fa.fa-linkedin-square
  %li.github
    %a(href="https://github.com/sixofhearts" target="_blank")
      %i.fa.fa-github-square
  %li.email
    %a(href="mailto:paul@sixofhearts.us")
      %i.fa.fa-envelope-square
