---
title: Curriculumn Vitae of Paul S. Chun | Sixofhearts
layout: resume
---

.personal-information.clearfix
  %h1 Paul S. Chun
  .portrait
    = image_tag "portrait.jpg"
  %h2 Personal Information
  .contact-info
    %ul.bullets
      %li
        Residence: Berlin, Germany
      %li
        Born January 6, 1986 in Stockton, California, United States of America
      %li
        Citizenship: United States of America
      %li
        Marital Status: Single
= partial "resume_common"
