---
title: sixofhearts makes things.
---

%ul
  = list_of %w(resume curriculum_vitae) do |path|
    = link_to path, "/" << path
  %li= link_to :paul, 'http://paul-s-chun.sixofhearts.us/'

%ul
  %li github
  %li twitter
  %li linkedin
  %li email
