---
title: Resum&#233; of Paul S. Chun | Sixofhearts
layout: resume
---

.headline.clearfix
  %h1 Paul S. Chun
  .contact-info
= partial "resume_common"
.activities
  %h2 Non-Professional Interests
  %ul.bullets
    %li
      Long history of enjoying sports and playing basketball.
      Tremendous supporter of United States Men's National Soccer team.
    %li
      Affinity for delicious food. Interested in understanding cultures
      through cuisine.
